.NFTs-main {
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.NFTs-title {
  font-size: 80px;
  font-weight: 900;
  color: #f9f9f9;
}
