.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-left {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-left-top {
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 700;
  word-wrap: normal;
  margin: 10px;
  padding: 15px;
}

.main-left-bottom {
  color: #b8b1b1;
  font-size: 35px;
  margin: 10px;
  padding: 15px;
}

.main-right {
  min-width: 40%;
  display: flex;
  flex-direction: column;
}
.main-right-imgholder {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 15px;
}
.dogtag {
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
}
