.mint-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.birdholder {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.birds {
  width: 50vw;
  height: 50vh;
}
.totemholder {
  position: absolute;
  left: 0%;
  bottom: -110%;
}
.totem {
  height: 65vh;
  width: 40vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  z-index: 10;
}

@media screen and (max-width: 480px) {
  .mint-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
  }

  .birdholder {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    min-width: 50vw;
  }
  .birds {
    width: 50vw;
    height: 20vh;
  }
  .totemholder {
    position: absolute;
    left: 0%;
    bottom: -90%;
  }
  .totem {
    height: 40vh;
    width: 40vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .modal {
    position: absolute;
    max-width: 80vw;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: 10;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1200px) {
}
