.mint-main {
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.mint-box {
  display: flex;
  color: #f9f9f9;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh * 0.8);
  min-width: calc(100vw * 0.8);
  background-color: beige;
  border-radius: 8px;
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6f0000,
    #200122
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6f0000,
    #200122
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mint-title {
  font-size: 60px;
}

.mint-form form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mint-inu {
  font-size: 50px;
  font-weight: 500;
}

.mint-input {
  color: #f9f9f9;
  font-size: 50px;
  font-weight: 500;
  margin: 5px;
  border-radius: 8px;
  height: 50px;
  max-width: 350px;
  text-transform: lowercase;
  border: none;
  text-align: right;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

.button-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mint-btn {
  color: black;
  margin: 5px;
  border-radius: 8px;
  width: 200px;
  font-size: 45px;
  background: #f7971e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
}
