.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 80px;
  border-bottom: 1px solid #d3d3d3;
  padding: 15px;
}

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 1px;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 1px;

  color: antiquewhite;
  align-items: center;
}
.header-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 500;
  color: antiquewhite;
  align-items: center;
  min-width: 50%;
}
.wallet {
  color: white;
}
@media screen and (max-width: 480px) {
  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;

    font-size: 25px;
    font-weight: 500;
    color: antiquewhite;
    align-items: center;
  }
}
